# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.xcworkspace
!*.xcodeproj/xcshareddata/

# User-specific xcuserdata
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# AppCode
.idea/

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/
*.swiftpm

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode Patch
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3

# SwiftUI Previews
**/PreviewContent/

# Build artifacts
build/
DerivedData/

# Archives
*.xcarchive

# Swift Package Manager
Package.swift
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata